if [ -d "{{ ceph_cluster_dir[0] }}" ]; then
cd {{ ceph_cluster_dir[0] }}
ceph-deploy purge {{ groups["all"]|join(" ") }}
ceph-deploy purgedata {{ groups["all"]|join(" ") }}
ceph-deploy forgetkeys
cd ..
rm -r {{ ceph_cluster_dir[0] }}
fi
